<!DOCTYPE html>
<html lang="zh-Hant">
<head>
  <meta charset="UTF-8">
  <title>點擊抽卡遊戲</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <p>歡迎，{{ username }}！<a href="/logout">登出</a></p>
  <div class="container">
    <!-- 左邊圖鑑 -->
    <div class="pokedex">
      <h2>圖鑑</h2>
      <button id="reset-button">重置圖鑑</button>
      <div id="pokedex-grid"></div>
    </div> 
    <!-- 右邊抽卡畫面 -->
    <div class="game-area">
      <img id="click-image" src="{{ url_for('static', filename='images/1img.png') }}">
    </div>

    <div id="particles-container"></div>
  </div>

  <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>
